<nav>
  <div class="site-title">
    <h1>
      <a href="/">Node Blog</a>
    </h1>

    <p>Tapha node site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
