<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
      <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse molestiae vero hic ad quas fuga reprehenderit aliquam possimus ipsa eos ea exercitationem, voluptates itaque aperiam magni laborum nihil fugit tenetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse molestiae vero hic ad quas fuga reprehenderit aliquam possimus ipsa eos ea exercitationem, voluptates itaque aperiam magni laborum nihil fugit tenetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse molestiae vero hic ad quas fuga reprehenderit aliquam possimus ipsa eos ea exercitationem, voluptates itaque aperiam magni laborum nihil fugit tenetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse molestiae vero hic ad quas fuga reprehenderit aliquam possimus ipsa eos ea exercitationem, voluptates itaque aperiam magni laborum nihil fugit tenetur.</p>

    </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>